html{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--color-texte1);
}

#corps{
    grid-column: 3/4;
    grid-row: 2/3;
    color: var(--color-texte1);
    animation: introCote 1s;

}
#TitreBvn{
    font-size: 1.7em;
    font-family: "text1";
    color: var(--color-texte3);
    text-shadow: 3px 3px 3px black;
}
.Titre{
    color:var(--color-texte2);
    font-family: "text1";
    size: 100%;
}
.Infor{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    z-index: 1;
}