@font-face {
    font-family: "text1";
    src: url("../GROBOLD.ttf");
}
#sectionDroite{
    display: grid;
    grid-template-columns: 15% 15% 65% 5%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 40%;
    height:100vh;
    width: 14.5%;
    background-color: var(--color-texte3);
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.416);
    align-items: center;
    position: fixed;
    top:100px;
    z-index: 2;

}
.categories{
    background-color: transparent;
    border: none;
    color:var(--color-texte1);
    font-size: 1.1em;
    text-align: left;
    border-radius: 8px;
    transition: all 0.3s;
    font-family: "text1";

}
.categories:hover{
    background-color:var(--color-texte4);
    transform: translateX(5px);
    font-size: 1.15em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.416);
    cursor: pointer;


}

#PlPr{
    grid-column: 3/4;
    grid-row: 2/3;
}
#IcPlPr{
    grid-row: 2/3;
    grid-column: 2/3;
    color: var(--color-texte1);
    font-size: 1.5em;

}
#IcPlPr:hover{
    font-size: 1.7em;
    animation: shake ease 2s infinite; 
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.416);
    cursor: pointer;

}
@keyframes shake{
    12%{
        transform: rotateZ(-20deg);
        
    }
    22%{
        transform: rotateZ(20deg);
    }
    33%{
        transform: rotateZ(-20deg);
        
    }
    44%{
        transform: rotateZ(20deg);

    }
    55%{
        transform: rotateZ(0deg);
    }
}
#Bois{
    grid-column: 3/4;
    grid-row: 3/4;

}
#IcBois{
    grid-row: 3/4;
    grid-column: 2/3;
    color: var(--color-texte1);
    font-size: 1.5em;
    border-radius: 50px;

}
#IcBois:hover{
    font-size: 1.7em;
    animation: shake ease 2s infinite;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.416);
    cursor: pointer;
}
#Coll{
    grid-column: 3/4;
    grid-row: 4/5;

}
#IcColl{
    grid-row: 4/5;
    grid-column: 2/3;
    color: var(--color-texte1);
    font-size: 1.5em;
}
#IcColl:hover{
    font-size: 1.7em;
    animation: shake ease 2s infinite;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.416);
    cursor: pointer;

}
#Dess{
    grid-column: 3/4;
    grid-row: 5/6;

}
#IcDess{
    grid-row: 5/6;
    grid-column: 2/3;
    color: var(--color-texte1);
    font-size: 1.5em;
}
#IcDess:hover{
    font-size: 1.7em;
    animation: shake ease 2s infinite;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.416);
    cursor: pointer;

}
#Proj{
    grid-column: 3/4;
    grid-row: 6/7;

}
#IcProj{
    grid-column: 2/3;
    grid-row: 6/7;
    color: var(--color-texte1);
    font-size: 1.5em;
}
#IcProj:hover{
    font-size: 1.7em;
    animation: shake ease 2s infinite;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.416);
    cursor: pointer;

}
@media only screen and (max-width: 1300px){

    .Screen{
        display: none!important;
    }

    #IcTitr{
        animation: shake ease 2s infinite; 
        width: 60px;
        border-radius:20px ;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.416);
    }
    #IcTitr:hover{
        font-size: 2.2em;
        transition: ease 0.2s;
    }
    #sectionDroite{
        left: -100%;
        transition: all 0.3s;
    }
    #sectionDroite.active {
        left: 0;
        z-index: 3;
        display: grid!important;
        width: 225px;


    }
    body{
    grid-template-columns: 50px 20px  auto 50px!important;
        
    }


}